<div id="<%= dom_id quote %>">
  <p>
      <strong>Type:</strong>
      <%= quote.buildingType %>
  </p>

  <p>
    <strong>Number_of_floors:</strong>
    <%= quote.number_of_floors %>
  </p>

  <p>
    <strong>Number_of_basements:</strong>
    <%= quote.number_of_basements %>
  </p>

  <p>
    <strong>Number_of_apartments:</strong>
    <%= quote.number_of_apartments %>
  </p>

  <p>
    <strong>Number_of_parking_spots:</strong>
    <%= quote.number_of_parking_spots %>
  </p>

  <p>
    <strong>Number_of_elevators:</strong>
    <%= quote.number_of_elevators %>
  </p>

  <p>
    <strong>Number_of_companies:</strong>
    <%= quote.number_of_companies %>
  </p>

  <p>
    <strong>Maximum_occupancy:</strong>
    <%= quote.maximum_occupancy %>
  </p>

  <p>
    <strong>Number_of_corporations:</strong>
    <%= quote.number_of_corporations %>
  </p>

  <p>
    <strong>Business_hours:</strong>
    <%= quote.business_hours %>
  </p>
</div>
