<% provide :head_tags do %>
   <script>

   function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
        center: myCoords,
        zoom: 14
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var marker = new google.maps.Marker({
        position: myCoords,
        map: map
    });
}
   $(document).ready(function () {
       setTimeout(() => {
           initMap(<%=@building.address.latitude%>, <%=@building.address.longitude%>)
       }, 300);
       
   })
   
    </script>
<% end %>


<div class="container">
    <div>Building #<%= @building.id %></div>
    <div>Client name: <%= @building.customer.full_name_of_the_company_contact %></div>
    <div>Number of batteries: ?</div>
    <div>Number of columns: <%= @building.battery.column.count %></div>
    <div>Number of elevator: <%= @number_of_elevators %></div>
    <div>Name of the technical contact: <%= @building.full_name_of_the_technical_contact_for_the_building %></div>
</div>  



<p>
    <div id="map"></div>
</p>
 
 

