<%= form_with(model: intervention) do |form| %>
  <% if intervention.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
        <% intervention.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



 
  <div>
    <%= form.label :customer_id, class: "form-label" %>
    <%= form.select :customer_id, options_for_select(@customers.collect { |customers| [customers.id] }, 1), {}, { id: 'customers_select' } %>
  </div>

  <div>
    <%= form.label :building_id, class: "form-label" %>
    <%= form.select :building_id, options_for_select(@buildings.collect { |buildings| [buildings.id] }, 0), {}, { id: 'buildings_select' } %>
  </div>

  <div>
    <%= form.label :battery_id, style: "display: block" %>
    <%= form.select :battery_id, options_for_select(@batteries.collect { |batteries| [batteries.id] }, 0), {}, { id: 'batteries_select' } %>
  </div>

  <div>
    <%= form.label :column_id, style: "display: block" %>
     <%= form.select :column_id, options_for_select(@columns.collect { |columns| [columns.id] }, 0), {}, { id: 'columns_select' } %>
  </div>


  <script>
  $('#customers_select').change(function() {
    $.ajax({
      url: 'interventions/update_buildings',
      type: 'GET',
      data: {
        customer_id: $("#customers_select option:selected").val()
      },
      success: function(buildings) {
        // console.log(data)
        // Clear all options from course select
        $("select#buildings_select option").remove();
        //put in a empty default line
        var row = "<option value=\"" + "" + "\">" + "select your building" + "</option>";
        $(row).appendTo("select#buildings_select");

        // Fill course select
        $.each(buildings, function(i, building) {
            console.log(building)
            row = "<option value=\"" + building.id + "\">" + building.id + "</option>";
            $(row).appendTo("select#buildings_select");
        });
      }
    })
  })

  $('#buildings_select').change(function() {
    $.ajax({
      url: 'interventions/update_batteries',
      type: 'GET',
      data: {
        building_id: $("#buildings_select option:selected").val()
      },
      success: function(batteries) {
        console.log(batteries)
        // Clear all options from course select
        $("select#batteries_select option").remove();
        //put in a empty default line
        var row = "<option value=\"" + "" + "\">" + "select your battery" + "</option>";
        $(row).appendTo("select#batteries_select");

        // Fill course select
        $.each(batteries, function(i, battery) {
            row = "<option value=\"" + battery.id + "\">" + battery.id + "</option>";
            $(row).appendTo("select#batteries_select");
        });
      }
    })
  })

   $('#batteries_select').change(function() {
    $.ajax({
      url: 'interventions/update_columns',
      type: 'GET',
      data: {
        battery_id: $("#batteries_select option:selected").val()
      },
      success: function(columns) {
        // Clear all options from course select
        $("select#columns_select option").remove();
        //put in a empty default line
        var row = "<option value=\"" + "" + "\">" + "select your column" + "</option>";
        $(row).appendTo("select#columns_select");

        // Fill course select
        $.each(columns, function(i, column) {
            row = "<option value=\"" + column.id + "\">" + column.id + "</option>";
            $(row).appendTo("select#columns_select");
        });
      }
    })
  })





  </script>






 

  

  <div>
    <%= form.label :TEST, style: "display: block" %>
    <%= form.text_field :elevator_id %>
  </div>

  <div>
    <%= form.label :employee_id, style: "display: block" %>
    <%= form.text_field :employee_id %>
  </div>

  <div>
    <%= form.label :start_date_and_time_of_the_intervention, style: "display: block" %>
    <%= form.datetime_field :start_date_and_time_of_the_intervention %>
  </div>

  <div>
    <%= form.label :end_date_and_time_of_the_intervention, style: "display: block" %>
    <%= form.datetime_field :end_date_and_time_of_the_intervention %>
  </div>

  <div>
    <%= form.label :result, style: "display: block" %>
    <%= form.text_field :result %>
  </div>

  <div>
    <%= form.label :report, style: "display: block" %>
    <%= form.text_area :report %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
